.footerContainer {
  height: 100%;
}

.footerTop {
  height: 50%;
  background-color: rgb(255, 255, 255, 0)
}

.footerBottom {
  height: 50%;
  background-color: rgb(52, 52, 52);
}

.buttonContainer {
  height: 100%;
}

.linkedInLink {
  height: 75%;
  width: 25%;
}

.linkedInBtn {
  /* background-image: url("../images/LinkedInLogo.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  height: 100%;
  width: 100%;
}

.emailBtn {
  /* background-image: url("../images/gmailLogo.png");
  background-size: contain;
  background-repeat: no-repeat; */
  height: 75%;
  width: 25%
}

.btnImage {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.clipMsgActive {
  color: black;
  height: 100%;
  width: fit-content;
  border: 1px solid black;
  background-color: white;
}

.clipMsgInactive {
  display: none;
}