.background {
  background-image: url("../images/mountains.png");
  height: 100vh;
  width: 100vw;
  color: white;
  background-size: cover;
}

.mainButtonContainer {
  height: 100%;
}

.buttonRow {
  height: 15%;
  /* margin-left: 3%; */
}

/* NOTE kind of annoying having to label everything here important, but it otherwise seems to be overwritten by MUI's button properties (on restart, was working beforehand). Could use MUI's sx to overwrite with inline, but it's uglier */
.pageButton {
  height: fit-content !important;
  width: fit-content !important;
  font-size: xx-large !important;
  font-family: serif !important;
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255, 0) !important;
}

.pageButton:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(255, 255, 255, 0) !important;
}

.textContainer {
  height: 75%;
  border-radius: 75px;
  background-color: rgb(255, 255, 255, 80%);
}

.footer {
  height: 15%
}